/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2022, 2:31:33 PM
    Author     : nu
*/
:root {
    /* Font and background color variables*/
  --dark-purple: #3e32a8;   
  --fuchsia : #e310c7;
  --light-blue: #33FFEF;
  --light-grey: #f7fafa;
  --dark-grey: #777;
  --white: #FFF;
  --black: #000;
  --red: #FF0000;
  /*Font weight variables for headings*/
  --heading-weight: 700; 
 /*Font weight variables*/
  --text-weight: 400; 
  /*Font size variables*/
  --font-size-default: 100%;
  --font-size-1: 1em;
  --font-size-2: 1.2em;
  --font-size-3: 1.44em;
  --font-size-4: 1.728em;
  --font-size-5: 2.074em;
  --font-size-6: 2.488em;
}
 /* Set the box-sizing to border-box on all elements*/ 
 * {
    box-sizing: border-box;
 }
body {
  
  font-family: 'Lato', sans-serif;
  color: var(--dark-grey);
  font-weight: var(--text-weight);
  font-size: var(--font-size-default);
  line-height: 1.6;
  background-color: var(--white);
  background-image: linear-gradient(90deg,var(--dark-purple),var(--fuchsia));
}

h2 {
  font-size: var(--font-size-3);
  font-weight: var(--heading-weight);
}
h3 {
  font-size: var(--font-size-2);
  font-weight: var(--heading-weight);
}
.centered{
    text-align: center;
}
hr{
    width: 80%;
    color: var(--white);
}
/*--Bootstrap*/
.page-container {
    margin-top: 150px;
}

/*--End of Bootstrp*/
.container {
   
    width: 80%;
    min-height: 80%;
}
.centered{
    text-align: center;
}

li.list-group-item{
    background: black !important;
}
button.btn.btn-primary{
    background: black !important;
    
}
/*.noneList{
    list-style: none;
}*/
.loader{
    position: fixed;
    top: 10px;
    left: 50px;
    width: 50vw;
    height: 50vh;
    background-color: var(--light-blue);
    font-size: var(--font-size-6);
    color: var(--black);
    text-align: center;
}
/*.pokemon-list{
    padding: 2px;
}*/
/* Login Form setting*/
.input-wrapper{
    margin-bottom : 10px;
}
label{
    display: inline-block;
    min-width: 75px;
}
.error-message{
    color: var(--red);
    font-size: var(--font-size-1);
}
/* Modal setting*/
#modal-container {
    display:none;
}
#modal-container.is-visible{
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: var(--white);
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: var(--dark-grey);
  text-decoration: underline;
  font-size: var(--font-size-1);
}

.modal h1 {
  color: var(--black);
  margin-top: 0;
  font-size: var(--font-size-2);
  text-align : left;
  text-transform: Uppercase;
}

.modal p {
  color: var(--black);
  margin-bottom: 0;
  text-align: center;
  text-transform: Capitalize;
  display: block;
}
.modal img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
