/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2022, 2:31:33 PM
    Author     : nu
*/
:root {
    /* Font and background color variables*/
  --dark-purple: #3e32a8;   
  --fuchsia : #e310c7;
  --light-blue: #33FFEF;
  --light-grey: #f7fafa;
  --dark-grey: #777;
  --white: #FFF;
  --black: #000;
  --red: #FF0000;
  /*Font weight variables for headings*/
  --heading-weight: 700; 
 /*Font weight variables*/
  --text-weight: 400; 
  /*Font size variables*/
  --font-size-default: 100%;
  --font-size-1: 1em;
  --font-size-2: 1.2em;
  --font-size-3: 1.44em;
  --font-size-4: 1.728em;
  --font-size-5: 2.074em;
  --font-size-6: 2.488em;
}
 /* Set the box-sizing to border-box on all elements*/ 
 * {
    box-sizing: border-box;
 }
body {
  
  font-family: 'Lato', sans-serif;
  color: var(--white);
  font-weight: var(--text-weight);
  font-size: var(--font-size-default);
  line-height: 1.6;
  background-color: var(--white);
  background-image: linear-gradient(90deg,var(--dark-purple),var(--fuchsia));
}

.page-container {
    margin-top: 60px;
}
.container {
    width: 95%;
    min-height: 80%;
}
.list-group-item{
    background-color: var(--dark-purple);
    border: none;
}
.loader{
    position: fixed;
    top: 50px;
    left: 60px;
    width: 40vw;
    height: 10vh;
    background-color: var(--light-blue);
    font-size: var(--font-size-6);
    color: var(--black);
    text-align: center;
}
/*--Pokemon button setting--*/
.pokemon-button{
    background-color: var(--fuchsia);
    text-transform: Capitalize;
    border-radius: 5px;
}

.pokemon-button:hover{
    background-color: var(--gray) ;
}
/*--Modal setting-*/
.modal-content{
    background-color: var(--fuchsia);
    color: var(--white);
}
.modal-body{
    background-color: var(--dark-purple);
    text-align: center;
}
.modal-title{   
    text-transform: Capitalize;
}
/*Find Pokemon form style*/
.input-wrapper {
    margin-bottom: 10px;
}
.error-message{
    color : var(--red);
    font-size: var(--font-size-1);
}
/*Find by name style*/
.note{
    font-style: italic; 
}
.result{
    padding-top: 5px;
    text-transform: Capitalize;
    text-align: center;
   
}
.pokemon-image{
    padding: 2px;
   
}
