/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2022, 2:31:33 PM
    Author     : nu
*/
:root {
    /* Font and background color variables*/
  --dark-purple: #3e32a8;   
  --fuchsia : #e310c7;
  --light-blue: #33FFEF;
  --light-grey: #f7fafa;
  --dark-grey: #777;
  --white: #FFF;
  --black: #000;
  
  
 /*Font weight variables*/
  --text-weight: 400; 
  /*Font size variables*/
  --font-size-default: 100%;
  --font-size-1: 1em;
 
}
 /* Set the box-sizing to border-box on all elements*/ 
 * {
    box-sizing: border-box;
 }
body {
  
  font-family: 'Lato', sans-serif;
  padding-top: 40px;
  color: var(--white);
  font-weight: var(--text-weight);
  font-size: var(--font-size-default);
  line-height: 1.6;
  background-color: var(--white);
  background-image: linear-gradient(90deg,var(--dark-purple),var(--fuchsia));
  height: 100%;
}


.page-container {
    margin-top: 65px;
}


/* Page loading setting*/
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-purple);
    transition: opacity 0.75s, visibility 0.75s;
    
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid var(--light-grey);
    border-top-color: var(--light-blue);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframe loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

/*Find Pokemon form */

.input-wrapper {
    margin-bottom: 2px;
    
}
/*Give a line break effect of error message within flex div*/
.break {
 
  flex-basis: 100%;
  height: 0;
 
  
}
.error-message{
    color : var(--red);
    font-size: var(--font-size-1);
    padding-top: 2px;
    
}
/*Search result*/

.pokemon-image{
    padding: 2px;
   
}
/*--Pokemon button setting--*/
.pokemon-list{
    
    text-align: center;
}

.pokemon-button{
    background-color: var(--fuchsia);
    text-transform: Capitalize;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 200px;
    height: 50px;
}

.pokemon-button:hover{
    background-color: var(--dark-purple) ;
}
/*--Modal setting-*/
.modal-content{
    background-color: var(--fuchsia);
    color: var(--white);
}
.modal-body{
    background-color: var(--dark-purple);
    text-align: center;
}
.modal-title{   
    text-transform: Capitalize;
}

/* Footer setting*/
.page-footer{
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid var(--dark-grey);
    margin-top: 5px;
}

/* Set font size of h1 smaller for mobile*/ 
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 2rem;
    }
}

